<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AirsV1">

	<listeners>
		<listener class-name="com.airs.utilities.Reporting"/>
	</listeners>

	<test name="AirsIBEV1 Test">
		<parameter name ="browser" value="firefox" />
		<classes>
			<class name="com.airs.testCases.loginPageTCs" />
		</classes>
	</test>
</suite>